DISCORD_TOKEN="XXXXXXX"
DISCORD_CLIENT_ID="XXXXXXX"
DISCORD_PUBLIC_KEY="XXXXXXX"
GITHUB_TOKEN="XXXXXXX"
GUILD_ID="XXXXXXX"
SUPPORT_CHANNEL="XXXXXXX"
SUPPORT_AI_CHANNEL="XXXXXXX"
SUPPORT_SQUAD_CHANNEL="XXXXXXX"
STATS_SCHEDULE="0 0 * * 1"
SUPPORT_REDIRECT_SCHEDULE="*/15 * * * *"
ALGOLIA_INDEX="XXXX"
ALGOLIA_APP_ID="XXXXXXX"
ALGOLIA_API_KEY="XXXXXXXX"
